#!/bin/sh
branch=$(git rev-parse --symbolic --abbrev-ref $1)

[ "$branch" = "master" ] && ansible-playbook -i /etc/ansible/voltron-control-node/inventory -e "application_name={{ application_name }}" /etc/ansible/voltron-control-node/deploy-application.yml
