#!/bin/sh
branch=$(git rev-parse --symbolic --abbrev-ref $1)
application_name={{ application_name }}
db_name={{ db_name }}
db_user={{ db_user }}
db_password={{ db_password }}

[ "$branch" = "master" ] && ansible-playbook -i /etc/ansible/voltron-control-node/inventory -e "application_name=$application_name db_name=$db_name db_user=$db_user db_password=$db_password" /etc/ansible/voltron-control-node/deploy-application.yml
